<div class="error-message">
    <h1>Opps An Error Occured &#128531;</h1>
    <p>Error {{status}}: {{message}}</p>
    <img class="error-img" src="https://media4.giphy.com/media/GeimqsH0TLDt4tScGw/giphy.gif" alt="error">
</div>