{{!-- <ul>
    <li class="nav-item">
        <a class="nav-link" href="/company-login">Companies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/candidate-login">Candidates</a>
    </li>
</ul> --}}